*{
    margin: 0;
    padding: 0;
}
.m1 ul{
    display: flex;
    list-style: none;
    padding-top: 48px;
    margin-left: 35px;
    font-size: 16px;
    font-weight: lighter;
}
.m1 li{
    padding-right: 20px;
}
.m3 ul{
    display: flex;
    list-style: none;
    justify-content: end;
    font-size: 16px;
    margin-right: 30px;
    margin-top: -44px;
}
.m3 li{
    padding-right: 13px;
}
.m2{
    display: flex;
    justify-content: center;
    margin-top: -23px;
    margin-right: 13px;
}
.m4 ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 70px;
    font-size: 16px;
    font-weight:lighter;
}
.m4 li{
    padding-right: 38px;
}
.m4 li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.m5{
    display: flex;
    justify-content: end;
    margin-right: 109px;
    margin-top: -28px;
    font-size: 16px;
}
.f1{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 16px;
}
.inp{
    border: 0px;
}
.m6 ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 45px;
    font-size: 16px;
    font-weight:lighter;
    margin-left: 133px;
}
.m6 li{
    padding-right: 158px;
    font-family: HM Sans Regular,HMSansHebrew-Regular,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,MS Ｐゴシック,MS PGothic,sans-serif;
    font-weight: 570;
    font-size: 13px;
    color: rgb(71, 65, 65);
}
.n3{
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
}
.m7{
    position: absolute;
    margin-top: 26px;
    font-size: 18px;
}
.m8{
    position: absolute;
    margin-top: 82px;
   
}
.p1{
    font-size: 12px;
    margin-left: 20px;
}
.b1{
    background-color:#222222;
    color: rgb(239, 235, 235);
    font-weight: bold;
    padding: 7px;
    letter-spacing: 1px;
    border-style: none;
}
.b1:hover{
    background-color: #555555;
    cursor: pointer;
}
.n4{
    margin-left: 265px;
    margin-top: 27px;
    position: relative;
}
.m10{
    position: absolute;
    margin-top: -165px;
    margin-left: 310px;
    font-size: 24px;
    color: white;
}
.b2{
    background-color:white;
    color:#222222 ;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-style: none;
    margin-left: 126px;
    margin-top: 30px;
}
.b2:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.n5{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 266px;
}
.n6 ul{
    display: flex;
    list-style: none;
    margin-left: 260px;
    text-align: center;
    color: #707070;
}
.n6 li{
    padding-right: 24px;
}
.n7 ul{
    display: flex;
    list-style: none;
    color: #222222;
    font-size: 15px;
    margin-left: 227px;
    text-align: center;
}
.n7 li{
    padding-left: 36px;
    padding-right: 28px;
}
.sec-2{
    margin-left: 266px;
    margin-top: 26px;
}
.n8{
    position: relative;
    filter: brightness(0.90);

}
.n9{
    position: absolute;
    margin-top: -200px;
    margin-left: 155px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.b3{
    background-color:white;
    color:#222222 ;
    font-weight: bold;
    letter-spacing: 1px;
    border-style: none;
    margin-top: 30px;
    padding: 10px;
}
.b3:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
.p2{
    font-size: 15px;
}
.sec-3{
    margin-left: 266px;
    margin-top: 26px;
}
.n10{
    font-size: 21px;
}
.b4{
    color:black;
    font-weight: bold;
    letter-spacing: 1px;
    border-style: solid;
    margin-top: 15px;
    padding: 12px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 6px;
    border-width: 1px;
    background-color: white;
    
}
.sec-4{
    margin-left: 266px;
    margin-top: 26px;
}
.n11 ul{
    display: flex;
    list-style: none;
    color: #222222;
    font-weight: bold;
    font-size: 14px;
}
.n11 li{
    padding-right: 24px;
}
.p3 li{
    padding-right: 57px;
    margin-top: -96px;
    margin-left: 187px;
}
.b5{
    border-style: none;
}
.sec-5{
    margin-left: 266px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.n12{
    position: relative;
    filter: brightness(0.90);

}
.n13{
    position: absolute;
    margin-top: -200px;
    margin-left: 296px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.p4{
    font-size: 15px;
}
.b6{
    background-color:white;
    color:#222222 ;
    font-weight: bold;
    letter-spacing: 1px;
    border-style: none;
    margin-top: 30px;
    padding: 10px;
}
.b6:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
.n14{
    width: 170px;
    height: 57px;
    background-color: #222222;
    color: white;
    position: absolute;
    margin-top: -379px;
    margin-left: 672px;
    padding-left:10px;
    padding-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.sec-6{
    margin-left: 310px;
    color: #707070;
}
.text-p{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.sec-7{
    background-color: #f4eddd;
    width: 100%;
    height: 575px;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.j2{
    text-align: center;
}
.h1{
    font-size: 41px;
}
.a1{
    font-weight: lighter;
    margin-top: 12px;
    text-decoration: underline;
    margin-bottom: 38px;
}
.j3 ul{
    display: flex;
    list-style: none;
    justify-content: center;

}
.j3 li{
    padding-right: 25px;
}
.j4{
    margin-left: 290px;
    width: 288px;
    height: 198px;
    background-color: white;
    text-align: center;
    margin-top: -4px;
}
.j5{
    margin-left: 603px;
    width: 288px;
    height: 198px;
    background-color: white;
    text-align: center;
     margin-top: -198px;
}
.j6{
    margin-left: 916px;
    width: 288px;
    height: 198px;
    background-color: white;
    text-align: center;
    margin-top: -198px;
}
.text-p1{
    margin-bottom: 97px;
    font-size: 16px;
}
.text-p2{
    margin-bottom: 79px;
    font-size: 16px;
}
.sec-8{
    background-color: #e4e4e4;
    width: 100%;
    height: 500px;
    color: #222222;
    font-size: 13px;
    line-height: 28px;
}
.j7{
    padding-top: 90px;
    margin-left: 294px;
}
.j8{
    margin-left: 496px;
    margin-top: -195px;
}
.j9{
    margin-left: 776px;
    margin-top: -168px;
}
.j10{
    margin-left: 978px;
    margin-top: -225px;
    font-weight: bold;
}
.j11 li{
     padding-right: 20px;
}
.j11 ul{
    display: flex;
    list-style: none;
    justify-content:center ;
    margin-top: -118px;
}
.k1{
    font-size: 14px;
    margin-left: 468px;
}
.k2{
    margin-left: 740px;
    margin-top: 40px;
}